body p {
	margin: 0;
	padding: 0;
	padding-bottom: 2px;
	font-size: 12px;
}

body .hTimestamp {
	display: none;
}

body .vTimestamp {
	display: inline;
}

body {
  background: white;
}